---
import "../styles/base.css";
const { title } = Astro.props;
---

<html lang="en" class="test">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
        />

        <title>{title}</title>
    </head>
    <body
        class="bg-radial min-h-full h-screen text-custom-gray font-sans from-blue-700 via-blue-700 to-blue-800"
    >
        <slot />
    </body>
</html>
