@import 'bulma/sass/utilities/mixins';
@mixin is-fullheight-with-navbar {
    min-height: calc(100vh - 3.25rem);
}

@mixin has-dark-background {
    background: linear-gradient(90deg, darken($info, 40%), darken($info, 30%));
    transition: background-color ease-in 1s;
}

@mixin has-family-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}