---
import Background from "../../components/background.astro";
import Content from "../../components/content.astro";
import LinesMenu from "../../components/lines-menu.astro";
import Menu from "../../components/menu.astro";
import RootLayout from "../../layouts/root-layout.astro";
---

<RootLayout>
    <main class="text-right" x-data="stars">
        <div>
            <Menu />
            <Content>
                <LinesMenu />
                <h1 class="text-pink-400 font-bold font-serif text-[12vw] md:text-[6vw] m-0">Timestamps</h1>
                <div class="text-blue-200 w-[350px] md:text-lg mb-5 text-justify [&>p]:mb-5">
                    <p>Times</p>
                </div>
            </Content>
            <Background />
        </div>
        <script src="../../scripts/star-menu-controller"></script>
    </main>
</RootLayout>
