$padding-top: 2rem;

.home {
  background: linear-gradient(90deg, $danger 10%, $warning);
  padding-top: $padding-top;
  position: initial;
  min-height: 100vh;
  overflow-y: auto;

  @include desktop {
    display: flex;
    justify-content: center;
  }

  &__project-grid {
    flex: 1;
    z-index: 3;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
      margin-bottom: 2rem;
      width: 26rem;
    }
    @include tablet {
      & > * {
        margin-bottom: 2rem;
        width: 26rem;
      }
    }
    @include desktop {
      padding-left: 30rem;
      max-width: 100rem;

      & > * {
        margin-bottom: 2rem;
        margin-left: 2rem;
        width: 26rem;
      }
    }

    @include fullhd {
      & > * {
        margin-left: 9rem;
        margin-bottom: 5rem;
      }
    }
  }
}
