$title-circle-height: 15rem;


.title-modal {
  @include transition(transform, 200ms);

  position: fixed;
  top: calc(50% - (#{$title-circle-height} / 2));
  left: 50%;
  color: $link-dark;

  &--is-disabled {
    z-index: 1;
    transform: scale(1.3) translateX(-20%);
    @include widescreen {
      transform: scale(1.3) translateX(-50%);
    }
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    border-radius: 50%;
    padding: 2.5rem 3rem 3rem 3rem;
    height: $title-circle-height;
    transform: translateX(-50%);
    width: 470px;
  }
  
  &__action,
  &__header {
    @include transition();
  }

  .button.is-ghost {
    @include transition(transform);
    &:hover {
      text-decoration: none;
      transform: scale(1.5);
    }
  }

}