@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

.drum-machine {
  &__centered {
    @include centered-layout(2rem);
    justify-content: space-evenly;
  }
  @include project-header;

  &__box {
    font-weight: 900;
    background: $link;
    background: $danger;
    padding: 2rem;
    height: 100%;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    display: grid;
    justify-content: space-evenly;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
    }
  }

  &__drum-pads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-row: 2;
    height: 100%;

    @include tablet {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__display {
    color: black;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      grid-row: 1;
      grid-column: 2;
    }

    div {
      background-color: $warning;
      margin: 0 auto;
      min-width: 5.5em;
      max-width: 7.5em;
      border: #2e2e2e solid 0.3em;
      border-top: #1e1e1e solid 0.7em;
      font-size: 1.2em;
      text-align: center;
      -webkit-box-shadow: 3px 1px 5px 0px #1c1c1c;
      box-shadow: 3px 1px 5px 0px #1c1c1c;
      line-height: 1.5;
    }
  }
}
