$cell-width: 3.5rem;
$clr-primary: #8598a9;
$clr-secondary: #4d7764;
$top-header-padding: 1.5rem;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.calculator {
  @include project-header;

  background: rgb(95, 255, 167);
  background: linear-gradient(
    14deg,
    lighten($link, 30%) 0%,
    lighten($warning, 10%) 70%
  );
  padding-top: $top-header-padding;
  height: calc(100vh - #{$top-header-padding});
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    background-color: darken($primary, 40%);
    padding: 2.5rem 1.5rem;
    border-bottom: 1rem solid #111;
    border-radius: 5px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, $cell-width);
    grid-template-rows: repeat(5, $cell-width);
    grid-gap: 5px;
    grid-template-areas:
      'c c di mu'
      'n n n mi'
      'n n n ad'
      'n n n eq'
      'n n n eq';
    #add {
      grid-area: ad;
    }
    #clear {
      grid-area: c;
    }
    #divide {
      grid-area: di;
    }
    #equals {
      grid-column-end: span 1;
      grid-column: 4 / 5;
      grid-row: 4 / span 2;
    }
    #multiply {
      grid-area: mu;
    }
    #subtract {
      grid-area: mi;
    }
  }

  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: yellow;
    font-size: 1.5em;
    width: 100%;
    height: 5rem;
    background-color: black;
    letter-spacing: 3px;
    span {
      width: 100%;
      font-weight: 900;
      text-align: right;
    }
  }

  .numpad {
    display: grid;
    grid-template-columns: repeat(3, $cell-width);
    grid-template-rows: repeat(3, $cell-width);
    grid-area: n;
    grid-gap: 5px;
  }

  .button-pad {
    color: white;
    box-shadow: 1px 1px 1px 2px #333;
    display: flex;
    justify-content: center;
    align-items: center;

    &--single {
      background-color: $primary;
    }
    &--double {
      grid-column-end: span 2;
      background-color: $warning;
    }
  }
}
