@import 'assets/styles/abstracts/variables';

.cuboid {
  width: $rect-x;
  height: $rect-y;
  perspective: 1400px;
  perspective-origin: 180% 230%;
  margin-bottom: 1rem;

  &__rect {
    width: $rect-x;
    height: $rect-y;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-$rect-z / 2);
  }

  &__side {
    position: absolute;
    background-color: $clr-info;

    &--front {
      background-color: $clr-danger;
      transform: rotateY(0deg) translateZ($rect-z * 0.5);
    }
  
    &--back   { transform: rotateY(180deg) translateZ($rect-z * 0.5) }
    &--top    { transform: rotateX(90deg) translateZ($rect-y * 0.5) }

    &--bottom {
      transform: rotateX(-90deg) translateZ($rect-y * 0.5);
      background: rgb(16, 49, 68);
      background: linear-gradient(
        64deg,
        $clr-danger 0%,
        darken($clr-danger, 35%) 86%
      );
      background-color: $clr-danger;
    }
  
    &--top,
    &--back {
      background-color: $clr-warn;
    }
    &--front,
    &--back {
      width: $rect-x;
      height: $rect-y;
    }
  
    &--top,
    &--bottom {
      width: $rect-x;
      height: $rect-z;
      top: $rect-z * 0.5;
    }
  }

}
