@import 'assets/styles/abstracts/variables';

.drum-pad {
  background-color: $clr-primary;
  color: darken($clr-primary, 40%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 3px 1px 5px 0px darken($clr-primary, 40%);
  box-shadow: 3px 1px 5px 0px darken($clr-primary, 40%);

  &--is-active {
    background-color: $clr-danger;
  }
}