---
import Background from "../../../components/background.astro";
import Content from "../../../components/content.astro";
import LinesMenu from "../../../components/lines-menu.astro";
import Menu from "../../../components/menu.astro";
import RootLayout from "../../../layouts/root-layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentLocale = Astro.currentLocale ?? "en";
---

<RootLayout>
    <main class="text-right" x-data="stars">
        <div>
            <Menu />
            <Content>
                <LinesMenu />
                <h1 class="text-pink-400 font-bold font-serif text-[12vw] md:text-[6vw] m-0">Challenges</h1>
                <div class="text-blue-200 w-[350px] md:text-lg mb-5 text-justify [&>p]:mb-5">
                    <p>
                        On this section, you will find different FreeCodeCamp Challenges. Source code for this
                        challenges is available on Github
                    </p>
                </div>
                <ul class="text-light-green text-md font-mono m-0">
                    <li>
                        <a href={getRelativeLocaleUrl(currentLocale, "challenges/url-shortener")}>
                            URL Shortener
                        </a>
                    </li>
                    <li>
                        <a href={getRelativeLocaleUrl(currentLocale, "challenges/timestamps")}>
                            Timestamps
                        </a>
                    </li>
                    <li>
                        <a href={getRelativeLocaleUrl(currentLocale, "/challenges/file-metadata")}>
                            File Metadata
                        </a>
                    </li>
                    <li>
                        <a href={getRelativeLocaleUrl(currentLocale, "/challenges/meta-auth")}> Meta Auth </a>
                    </li>
                </ul>
            </Content>
            <Background />
        </div>
        <script src="../../../scripts/star-menu-controller"></script>
    </main>
</RootLayout>
