/*
* Colors
*/

$clr-primary: #55d6be;
$clr-secondary: #acfcd9;
$clr-info: #7d5ba6;
$clr-warn: #e39774;
$clr-danger: #fc6471;

/*
* Drum Machine 3D Base
*/
$rect-x: 700px;
$rect-y: 200px;
$rect-z: 100px;

$codepen-navbar-height: 6.5rem;