$p-blue: #95BCCC;
$p-pink: #FCDCDC;
$p-dark-blue: #2B4C59;
$p-brown: #988080;
$p-gray: #BECEDA;
$p-light-brown: #DDD4D4;

$link: darken($p-gray, 10%);
$info: $p-pink;
$success: $p-gray;
$warning: $p-brown;
$dark: darken($p-dark-blue, 10%);
$text: $p-dark-blue;
$text-strong: $p-dark-blue;
$primary: $p-dark-blue;



$project-card-height-fully-opened: 1120px;

$footer-height: 12rem;
// As in https://github.com/jgthms/bulma/blob/master/sass/components/navbar.sass
$navbar-height: 3.25rem !default;

// Typography
@import '~bulma/sass/utilities/derived-variables';

$danger: $red;
