
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;900&display=swap');

$family-sans-serif: "ZCOOL KuaiLe", cursive;
$family-primary: 'Quicksand', sans-serif;
$family-secondary: $family-sans-serif;


* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.title,
.subtitle {
  font-family: $family-secondary;
}
