@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$top-padding: 1.5rem;
$header-height: 15.5rem;
$top-header-padding: 1.5rem;

// Mobile
$mobile-browser-menu-height: 4rem;
$is-size-2--mobile: 2rem; 
$heading-line-height--mobile: $is-size-2--mobile * 1.125;
$full-header-height--mobile: ($heading-line-height--mobile * 2) + ($top-header-padding * 2);

// Other
$heading-line-height: $size-1 * 1.125;
$full-header-height: $header-height + ($top-header-padding * 2);


.markdown-previewer {
  height: 100vh;
  background: rgb(95,255,167);
  background: linear-gradient(14deg, $danger 0%, $primary 70%);
  padding: $top-padding 1rem;
  overflow-y: hidden;

  &--hide {
    @include hide-on-mobile(block);
  }

  &__button {
    @include show-on-mobile-only;
  }
  
  &__container {       
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$top-padding} - #{$full-header-height--mobile} - #{$mobile-browser-menu-height});

    @include tablet {
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 100%;
      gap: 1rem;
      height: calc(100vh - #{$top-padding} - #{$full-header-height});
    }
  }

  header {
    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $top-header-padding 0.5rem;

    @include tablet {
      height: $header-height;
    }

    h1 {
      color: $info;
      animation: changeTitleColor 7s 1s infinite;
    }
  }

  &__button {
    @include show-on-mobile-only;
    align-self: flex-end;
  }

  .box{
    @include tablet {
      margin: 0;
    }
  }
}

.markdown-preview {
  background: #fff;
  height: 100%;

  &--hide {
    @include hide-on-mobile(block);
  }
  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
    
  &__label {
    @include hide-on-mobile;
  }
  &__text {
    height: calc(100% - 3rem);
    padding: 1rem;
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #ccc;

    h1, h2, h3, h4, h5, h6 {
      font-size: revert;
      font-weight: revert;
    }

    p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend,
    textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
      margin: revert;
      padding: revert;
    }
  }
}

.markdown-editor {
  background: #ccc;
  height: 100%;

  @include tablet {
    min-width: 20rem;
  }
  
  &--hide {
    @include hide-on-mobile(block);
  }
  
  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  &__label {
    @include hide-on-mobile;
  }


  &__textarea {
    width: 100%;
    border: none;
    height: calc(100% - 4rem);
    padding: 1rem 2rem;
    background-color: #fff;
  }
}