---

---

<div class="relative" :style="backgroundStyle">
    <div class="bg-radial w-full transition-all duration-500 ease-out" data-backdrop>
        <div class="min-h-screen flex justify-center items-end p-4 flex-col relative md:max-w-[50%]">
            <div
                x-show="!isMenuOpen"
                x-transition.opacity
                x-transition:enter.duration.400ms
                x-transition:leave.duration.400ms
                class="flex flex-col justify-end items-end"
            >
            </div>
        </div>
    </div>
</div>
