---
interface Props {
    showBackdrop: boolean;
}

const { showBackdrop } = Astro.props;

let rootClasses =
    "bg-aaradial from-blue-700 from-40% to-blue-800 to-90% w-full transition-all duration-500 ease-out";

if (showBackdrop) {
    rootClasses += " backdrop-blur-[10px] bg-[rgba(30,53,62,0.3)]";
}
---

<div class="relative" :style="contentStyle">
    <div class={rootClasses} data-backdrop>
        <div class="min-h-screen flex justify-center items-end p-4 flex-col relative md:max-w-[50%]">
            <div
                x-show="!isMenuOpen"
                x-transition.opacity
                x-transition:enter.duration.400ms
                x-transition:leave.duration.400ms
                class="flex flex-col justify-end items-end"
            >
                <slot />
            </div>
        </div>
    </div>
</div>
