$portfolio-dark-blue: #2c3e50;
$portfolio-blue: #46719C;
$portfolio-gray-blue: #65809C;
$portfolio-sand: #9C7636;
$portfolio-brown: #4F422B;
$portfolio-white: #fdfdfd;
$portfolio-dark-gray: #313131;
$portfolio-purple: #934ED9;
$portfolio-yellow: #F2A81D;
$portfolio-brick: #A64914;
$portfolio-orange: #F2780C;