---
import Background from "../../components/background.astro";
import Content from "../../components/content.astro";
import LinesMenu from "../../components/lines-menu.astro";
import Menu from "../../components/menu.astro";
import RootLayout from "../../layouts/root-layout.astro";
---

<RootLayout>
    <main class="text-right" x-data="stars">
        <div>
            <Menu />
            <Content>
                <LinesMenu />
                <h1 class="text-pink-400 font-bold font-serif text-[12vw] md:text-[6vw] m-0">About</h1>
                <div class="text-blue-200 w-[350px] md:text-lg mb-5 text-justify [&>p]:mb-5">
                    <p>
                        For the past years, I have been working as a developer on an e-commerce company, a
                        startup project on a large corporation, a marketing focused startup and a zero code
                        SaaS startup.
                    </p>
                    <p>
                        Although my main focus is in frontend development and its technologies, I was required
                        to do a bit of every rol and have learned a great deal about software development and
                        working in a complex team.
                    </p>

                    <p>The last few years I worked in Fullstack Development roles.</p>

                    <p>
                        I have an artistic background, studying music composition in Berlin in the Musikschule
                        Friedrichshain-Kreuzberg and the UdK Berlin. After a while, artistic endeavour wasn't
                        enough, so I decided to learn to code.
                    </p>

                    <p>
                        After all this time, I can see how the rigurosity of german music theory influence my
                        love for clean and expresive code.
                    </p>
                </div>
            </Content>
        </div>
        <Background />
    </main>
    <script src="../../scripts/star-menu-controller"></script>
</RootLayout>
