---
import "../../styles/base.css";
import { Icon } from "astro-icon/components";
import Button from "../../components/button.astro";
import Menu from "../../components/menu.astro";
import RootLayout from "../../layouts/root-layout.astro";
import Background from "../../components/background.astro";
import Content from "../../components/content.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
interface Social {
    link: string;
    title: string;
    icon: string;
}

const social: Social[] = [
    {
        link: "mailto:nicolas@matizlab.com",
        title: "Get in touch",
        icon: "mdi:envelope",
    },
    {
        link: "https://www.linkedin.com/in/nicolasramirezdev",
        title: "Link to LinkedIn Profile",
        icon: "mdi:linkedin",
    },
    {
        link: "http://www.instagram.com/nicoramirezdev",
        title: "Link to Instagram Profile",
        icon: "mdi:instagram",
    },
    {
        link: "https://www.github.com/kamatheuska",
        title: "Link to Github Profile",
        icon: "mdi:github",
    },
    {
        link: "https://stackoverflow.com/u/7868769",
        title: "Link to Stackoverflow Profile",
        icon: "mdi:stack-overflow",
    },
];

export function getStaticPaths() {
    return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
const currentLocale = Astro.currentLocale ?? "en";
const aboutURL = getRelativeLocaleUrl(currentLocale, "about");

// For client-side interactivity
---

<RootLayout>
    <main class="text-right" x-data="stars">
        <div>
            <Menu />
            <Content>
                <h3 class="text-light-green text-lg font-mono m-0">Hi! My name is</h3>
                <h1 class="text-pink-400 font-bold font-serif text-[12vw] md:text-[6vw] m-0">
                    Nicolas Ramirez
                </h1>
                <p class="text-light-blue max-w-[350px] md:text-lg mb-5">
                    I am Software Developer specialized on creating great products for the web
                </p>
                <ul class="mt-0 text-2xl flex mb-5">
                    {
                        social.map((item, index) => (
                            <li class={index !== social.length - 1 ? "mr-4" : ""}>
                                <a
                                    href={getRelativeLocaleUrl(currentLocale, item.link)}
                                    target="_blank"
                                    aria-label={item.title}
                                    class="text-pink-500 hover:text-green-400 transition-colors"
                                >
                                    <Icon name={item.icon} class="w-8 h-8" />
                                </a>
                            </li>
                        ))
                    }
                </ul>
                <div class="transition-opacity duration-300">
                    <Button @click="updateBackgroundStyles($data)"> Start </Button>
                </div>
            </Content>
            <Background />
        </div>
        <script src="../../scripts/star-menu-controller"></script>
    </main>
</RootLayout>
