---
import "../../styles/base.css";
import Button from "../../components/button.astro";
import Social from "../../components/base/social.astro";
import Menu from "../../components/menu.astro";
import RootLayout from "../../layouts/root-layout.astro";
import Background from "../../components/background.astro";
import Content from "../../components/content.astro";
// import { getRelativeLocaleUrl } from "astro:i18n";

export function getStaticPaths() {
    return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
// const currentLocale = Astro.currentLocale ?? "en";
// const aboutURL = getRelativeLocaleUrl(currentLocale, "about");

// For client-side interactivity
---

<RootLayout>
    <main class="text-right" x-data="stars">
        <div>
            <Menu />
            <Content>
                <h3 class="text-light-green text-lg font-mono m-0">Hi! My name is</h3>
                <h1 class="text-pink-400 font-bold font-serif text-[12vw] md:text-[6vw] m-0">
                    Nicolas Ramirez
                </h1>
                <p class="text-light-blue max-w-[350px] md:text-lg mb-5">
                    I am Software Developer specialized on creating great products for the web
                </p>
                <Social />
                <div class="transition-opacity duration-300">
                    <Button @click="updateBackgroundStyles($data)"> Start </Button>
                </div>
            </Content>
        </div>
        <script src="../../scripts/star-menu-controller"></script>
    </main>
</RootLayout>
