/*
* Colors
*/

$primary: #55d6be;
$info: #acfcd9;
$link: #7d5ba6;
$warning: #e39774;
$danger: #fc6471;
$soft-white: #ffe9e9;

$link-dark: darken($link, 25%);
/*
* Drum Machine 3D Base
*/
$rect-tablet-x: 700px;
$rect-tablet-y: 200px;
$rect-tablet-z: 100px;

$rect-x: 300px;
$rect-y: 390px;
$rect-z: 30px;

$navigation-padding-top: 3rem;
